<template>
    <div class="archived-liquids-table">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Archived at</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(l, idx) in liquids">
                    <td>{{ l.name }}</td>
                    <td>{{ l.deleted_at | date }}</td>
                    <td>
                        <a href="#" @click.prevent="restoreLiquid(l, idx)">Restore</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
      data() {
        return {
          liquids: []
        }
      },
      mounted() {
        axios.get('/ajax/archived-liquids')
        .then(res => {
          this.liquids = res.data;
        });
      },
      methods: {
        restoreLiquid(liquid, idx) {
          axios.post(`/ajax/liquids/${liquid.id}/unarchive`, {})
          .then(res => {
            this.liquids.splice(idx, 1);
          }, err => {
            console.error(new Error(err));
          })
        }
      }
    }
</script>
