<template>
  <div class="vue-datatable">
    <label for="">
      Search: <input type="text" v-model="search">
    </label>
    <table class="datatable">
      <thead>
        <tr>
          <th v-for="header in headers" @click.prevent="sort(header.name)">
            {{ header.label }}
            <i v-if="sortField === header.name && order === 'desc'" class="fas fa-sort-down"></i>
            <i v-if="sortField === header.name && order === 'asc'" class="fas fa-sort-up"></i>
            <i v-if="sortField !== header.name" class="fas fa-sort"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in sortedRows">
          <td v-for="header in headers">
            <a :href="row.href" v-if="row.href">{{ getField(row, header.name) }}</a>
            <span v-else>{{ getField(row, header.name) }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  const _ = require('lodash');

  export default {
    props: ['headers', 'rows'],
    data() {
      return {
        sortField: null,
        order: 'asc',
        search: null
      };
    },
    methods: {
      getField(o, name) {
        return _.get(o, name);
      },
      sort(field) {
        if (this.sortField === field && this.order === "desc") {
          this.sortField = null;
        } else if (this.sortField === field && this.order === "asc") {
          this.order = "desc";
        } else if (this.sortField !== field) {
          this.sortField = field;
          this.order = "asc";
        }
      }
    },
    computed: {
      searchedRows() {
        if (!this.search) {
          return _.cloneDeep(this.rows);
        }

        return _.cloneDeep(this.rows).filter(row => {
          let headers = this.headers.map(x => x.name);
          let props = _.pick(row, headers);

          let str = _.values(props).join("");

          return (str || "").toLowerCase().indexOf((this.search || "").toLowerCase()) !== -1;
        });
      },
      sortedRows() {
        if (!this.sortField) {
          return this.searchedRows;
        }

        return this.searchedRows.sort((a, b) => {
          let fA = this.getField(a, this.sortField);
          let fB = this.getField(b, this.sortField);

          let order = 0;
          if (typeof fA === "number") {
            if (fA === fB) {
              order = 0;
            } else {
              order = fA > fB ? 1 : -1;
            }
          } else {
            fA = fA || "";
            fB = fB || "";

            order = fA.localeCompare(fB);
          }

          if (this.order === "desc") {
            order *= -1;
          }

          return order;
        });
      }
    }
  }
</script>

<style lang="scss" scoped>
  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      &:first-child:last-child {
        background-color: transparent;
        border-bottom: 1px solid #333;
      }

      &:nth-child(odd) {
        background-color: #f5f5f5;
      }
    }

    th {
      cursor: pointer;
    }

    th, td {
      padding: 10px;
    }
  }
</style>
