<template>
    <div class="public-row">
        <a v-if="!liquid.share_id" href="#" class="" @click.prevent="makePublic">Share liquid</a>
        <a v-if="liquid.share_id" href="#" class="" @click.prevent="makePrivate">Make private</a>
        <div v-if="liquid.share_id">
            Public URL: <span class="copy-link" @click.prevent="copyPublicUrl">{{ liquidPublicUrl }}</span>
        </div>
    </div>
</template>

<script>
    export default {
      props: ["liquid", "loading"],
      data() {
        return {};
      },
      methods: {
        makePublic() {
          axios.post(`/ajax/share/${this.liquid.id}`)
          .then(res => {
            if (res.data && res.data.share_id) {
              this.liquid.share_id = res.data.share_id;
            }
          })
        },
        makePrivate() {
          axios.delete(`/ajax/share/${this.liquid.id}`)
          .then(res => {
            if (res.status === 204) {
              this.liquid.share_id = null;
            }
          });
        },
        copyPublicUrl() {
          const el = document.createElement("input");
          const str = this.liquidPublicUrl;
          el.setAttribute("value", str);
          document.body.appendChild(el);
          el.select();
          document.execCommand("copy");
          document.body.removeChild(el);
          toastr.success("Copied!");
        }
      },
      computed: {
        liquidPublicUrl() {
          return `${window.ELM.url}/share/${this.liquid.share_id}`;
        }
      },
    }
</script>