.edit-page {
  display: flex;
  justify-content: center;
  padding-top: 50px;

  form {
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    select {
      margin-bottom: 20px;
      width: 100%;
    }
  }
}