@import "variables";
@import "forms";
@import "buttons";
@import "modal";

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

#app {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;

  .sidebar-list {
    width: 280px;
    padding: 20px;
    background-color: #fff;
    position: sticky;
    top: 0px;
    z-index: 999;
    display: flex;
    flex-flow: column nowrap;
    max-height: calc(100vh - 50px);

    @media (max-width: 1024px) {
      position: fixed;
      top: 0;
      height: 100vh;
      max-height: 100vh;
    }

    .search-field {
      input {
        width: 100%;
        margin-top: 10px;
      }
    }

    ul {
      list-style-type: none;
      margin: 20px 0;
      padding: 0;
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;

      li {
        border-bottom: 1px solid $border-color;
        margin-bottom: 10px;
        line-height: 1.4;
      }
    }

    .loading {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.8);

      img {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
      }
    }
  }

  #liquid-list {
    border-right: 1px solid $border-color;

    .params {
      margin-top: 20px;

      select {
        width: 100%;
      }
    }

    @media (max-width: 1024px) {
      transition: 0.3s linear left;
      left: -100%;

      &.open {
        left: 0;
      }
    }
  }

  #flavour-list {
    border-left: 1px solid $border-color;

    @media (max-width: 1024px) {
      transition: 0.3s linear right;
      right: -100%;

      &.open {
        right: 0;
      }
    }

    #add-flavour {
      .btn {
        margin-bottom: 20px;
      }
    }
  }

  #main-area {
    flex: 1;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;

    .name-row {
      input {
        width: 100%;
        border-radius: 0;
        height: 60px;
        border: 0;
        border-bottom: 1px solid #ccc;

        font-size: 30px;
      }
    }

    .random-name-select {
      cursor: pointer;
    }

    .loading {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.8);

      img {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
      }
    }

    .public-row {
      .copy-link {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .input-cols {
    display: flex;
    flex-flow: row nowrap;

    @media(max-width: 1200px) {
      flex-flow: column nowrap;
      margin-top: 20px;
    }

    .input-col {
      flex: 1;
      padding: 20px;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }

      @media (max-width: 1200px) {
        padding: 0;
      }

      .flavour-input-list {
        .flavour-input-item {
          border-bottom: 1px solid $border-color;
          margin-bottom: 20px;
          padding-bottom: 5px;

          label {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            span:first-of-type {
              margin-right: auto;
            }

            input {
              margin-left: 20px;
              height: 30px;
              width: 60px;
            }

            .remove {
              background-color: $color-danger;
              width: 30px;
              height: 30px;
              text-align: center;
              line-height: 30px;
              color: #fff;
              font-weight: bold;
              cursor: pointer;

              opacity: 0;
              visibility: hidden;
              transition: 0.2s linear opacity;

              @media (max-width: 1200px) {
                visibility: visible;
                opacity: 1;
              }
            }

            &:hover {
              .remove {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }

  #mixing-table {
    table {
      width: 100%;
      border-collapse: collapse;

      th {
        text-align: left;
      }

      th, td {
        padding: 5px 0;
        white-space: nowrap;

        &:first-of-type {
          white-space: normal;
        }
      }

      tr {
        border-bottom: 1px solid $border-color;

        &.header {
          border-width: 2px;
        }

        &.footer {
          border: none;
        }
      }
    }
  }

  #action-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;

    .btn {
      margin-left: 20px;

      &.archive {
        margin-right: auto;
        margin-left: 0;
      }
    }

    @media (max-width: 500px) {
      flex-flow: row wrap;

      .btn {
        margin: 0 0 10px;
        width: 50%;

        &.archive {
          margin: 0 0 10px;
        }
      }
    }
  }

  #version-row {
    margin-top: 20px;
  }

  #comments {
    margin-top: 20px;

    .comment {
      margin-top: 20px;
      padding: 20px;
      border: 1px solid #efefef;

      .top-row {
        display: flex;
        justify-content: space-between;

        .remove {
          color: $color-danger;
          cursor: pointer;
        }
      }

      .date-row {
        border-bottom: 1px solid #efefef;
        padding-bottom: 5px;
        margin-bottom: 10px;
      }
    }

    #add-comment-form {
      margin-top: 20px;

      textarea {
        width: 100%;
        border: 1px solid $border-color;
        margin-bottom: 20px;
      }
    }
  }
}