
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  .modal-container {
    height: auto;
    width: 60vw;
    background-color: #fff;
    padding: 10px 40px 20px 40px;

    display: flex;
    flex-direction: column;

    .modal-content {
      flex: 1;
      margin-bottom: 20px;

      table {
        margin-top: 20px;
        width: 100%;

        th {
          text-align: left;
        }
      }
    }
  }
}
