#archived-liquids {
  flex-flow: column wrap;
  padding-left: 50px;
  padding-right: 50px;

  .archived-liquids-table {
    width: 100%;

    th {
      text-align: left;
    }
  }

  h1 {
    margin-bottom: 40px;
  }
}