#app {
  padding: 40px;

  h1 {
    margin-bottom: 20px;
  }

  #params {
    display: flex;
    flex-flow: column nowrap;

    .fields {
      display: flex;
      flex-flow: row wrap;
      width: 100%;

      .field {
        margin-right: 20px;

        input {
          margin-top: 5px;
          margin-bottom: 20px;
          height: 30px;
        }
      }
    }
  }

  #mixing-table {
    table {
      width: 100%;
    }

    tr {
      border-bottom: 1px solid #ccc;
      &:first-of-type {
        border-bottom: 1px solid #000;
      }

      &:last-of-type {
        border: none;
      }
    }

    th, td {
      text-align: left;
      padding: 5px 0;
    }
  }
}